body{
    overflow: hidden;
}


#bloco_temp{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
@media screen and (max-width:799px) {
    .temp_title{
        font-size: 3rem;
    }
    #clock{
        font-size: 2rem;
        margin-top: 1vh;
      }
}
@media screen and (min-width:800px) {
    .temp_title{
        font-size: 5rem;
    }  
    #clock{
        font-size: 2rem;
        margin-top: 5vh;
      }  
}

#clock{
  font-size: 2rem;
  margin-top: 5vh;
}